<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="msapplication-TileImage" content="">
    <meta name="server" id="myoo-server" content="">
    <link rel="icon" href="/src/img/icon.png">
    <link rel="stylesheet" href="/src/js/style.css?t={{.t}}" type="text/css">
</head>

<body>
    <div id="main">
        <router-view></router-view>
    </div>
    <script type="text/javascript" src="/src/js/app.js?t={{.t}}"></script>
</body>

</html>